.rui-grid-btn {
  margin-top: 10px;
  margin-bottom: -40px;
  position: relative;
  z-index: 1;

  &.reset {
    margin-bottom: 15px;
  }
}

.ant-table-column-sorters {
  font-weight: bold;
  white-space: nowrap;
}

.rui-grid-table {
  ul.ant-pagination > li {
    z-index: 1;
  }
}
