#admin-content-wrap {
  padding-top: 60px;
  padding-left: 240px;
  padding-right: 40px;
}

/* width */
::-webkit-scrollbar {
  width:10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #d1d1d1; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}